@*@model AIR_SVU_S19.Models.Files*@
<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>AIR Homework SVU-S19 | Yazan - Hamid - Tareq</title>
    <meta charset="UTF-8">
    <meta name="description" content="AIR Homework SVU-S19 | Yazan - Hamid - Tareq">
    <meta name="keywords" content="industry, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link href="~/img/favicon.ico" rel="shortcut icon" />

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i&display=swap" rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/magnific-popup.css" />
    <link rel="stylesheet" href="css/slicknav.min.css" />
    <link rel="stylesheet" href="css/owl.carousel.min.css" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/magnific-popup.css" rel="stylesheet" />
    <link href="~/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/css/slicknav.min.css" rel="stylesheet" />
    <!-- Main Stylesheets -->
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <!-- Header section  -->
    <header class="header-section clearfix">
        <div class="header-top">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                    <div class="col-md-6 text-md-right">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="site-navbar">
            <!-- Logo -->
            <a href="index" class="site-logo">
                <img src="~/img/logo.png" alt="" />
            </a>
            <div class="header-right">
                <div class="header-info-box">
                    <div class="hib-icon">
                        <img src="~/img/icons/phone.png" alt="" class="" />
                    </div>
                    <div class="hib-text">
                        <h6>+546 990221 123</h6>
                        <p>contact@industryalinc.com</p>
                    </div>
                </div>
                <div class="header-info-box">
                    <div class="hib-icon">
                        <img src="~/img/icons/map-marker.png" />
                    </div>
                    <div class="hib-text">
                        <h6>Main Str, no 23</h6>
                        <p>NY, New York PK 23589</p>
                    </div>
                </div>
                <button class="search-switch"><i class="fa fa-search"></i></button>
            </div>
            <!-- Menu -->
            <nav class="site-nav-menu">
                <ul>
                    <li class="active"><a href="index">Home</a></li>
                    <li><a href="about.html">About us</a></li>
                    <li>
                        <a href="solutions.html">Solutions</a>
                        <ul class="sub-menu">
                            <li><a href="elements.html">Elements</a></li>
                        </ul>
                    </li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </nav>

        </div>
        <div style="background:#2196f3; height:6px">
        </div>
    </header>
    <!-- Header section end  -->
    @*class="row justify-content-center"  for center content *@
    <div style="background:#ffffff;padding-top:100px;margin-bottom:300px; height:1000px">
        @*<div>
                @Html.Label("StudentName", "Key Search :", new { @class = "form-control" })
                @Html.TextBox("myTextBox", "This is value", new { @class = "form-control" })
            </div>*@
        <div class="form-horizontal">
            <div class="form-group">
                <div class="container justify-content-center row">
                    <div class="col-md-auto">
                        <label style="font-family:Al-Jazeera-Arabic;font-size:large" class="col-form-label-sm">Key Search :</label>    @*@Html.Label("lbl_Search_Key", "Key Search :", htmlAttributes: new { @class = "control-label" })*@
                    </div>
                    <div class="col-md-3 ">
                        @Html.Editor("TxT_Search_Key", "This is value", new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="col-md-3 ">
                        @Html.DropDownList("AlgorithmRetrieve", new SelectList(
                            new List<SelectListItem>
                            {
                                new SelectListItem {Text = "Boolean Model", Value = "boolean"},
                                new SelectListItem {Text = "Extend Boolean Model", Value = "ex_boolean"},
                                 new SelectListItem {Text = "Vector Space model", Value = "vector_space"},
                            }, "Value", "Text"), new { @class = "form-control" })
                    </div>
                </div>
                <br />
                <div class="container" style="width:15%">
                    <input style="font-family:Al-Jazeera-Arabic;font-size:large" type="submit" id="Manp" value="بحث" class="btn btn-success form-control " />
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="container">
            <b>Search By : </b>
            <select id="SearchBy">
                <option value="Name">Name</option>
                <option value="ID">ID</option>
            </select><br /><br />
            @Html.TextBox("Search")<input type="submit" id="SearchBtn" value="Search" /><br /><br />
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody id="DataSearching">
                </tbody>
            </table>
        </div>
        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script>
            $(document).ready(function () {
                $("#SearchBtn").click(function () {
                    var SearchBy = $("#SearchBy").val();
                    var SearchValue = $("#Search").val();
                    var SetData = $("#DataSearching");
                    SetData.html("");
                    $.ajax({
                        type: "post",
                        url: "/Home/GetSearchingData?SearchBy=" + SearchBy + "&SearchValue=" + SearchValue,
                        contentType: "html",
                        success: function (result) {
                            if (result.length == 0) {
                                SetData.append('<tr style="color:red"><td colspan="3">No Match Data</td></tr>')
                            }
                            else {
                                $.each(result, function (index, value) {
                                    var Data = "<tr>" +
                                        "<td>" + value.File_ID + "</td>" +
                                        "<td>" + value.File_Name + "</td>" +
                                        "</tr>";
                                    SetData.append(Data);

                                });
                            }
                        }
                    });
                });
            });
        </script>
    </div>
    <!-- Call to action section  -->
    <section class="cta-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 d-flex align-items-center">
                    <h2>We produce or supply Goods, Services, or Sources</h2>
                </div>
                <div class="col-lg-3 text-lg-right">
                    <a href="#" class="site-btn sb-dark">contact us</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Call to action section end  -->
    <!-- Search model -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->
    <!--====== Javascripts & Jquery ======-->
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/circle-progress.min.js"></script>
    <script src="~/js/jquery-3.2.1.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/jquery.slicknav.min.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
</body>

</html>
