@model IEnumerable<AIR_SVU_S19.Models.Files>
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>AIR Homework SVU-S19 | Yazan - Hamid - Tareq</title>
    <meta charset="UTF-8">
    <meta name="description" content="AIR Homework SVU-S19 | Yazan - Hamid - Tareq">
    <meta name="keywords" content="industry, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link href="~/img/favicon.ico" rel="shortcut icon" />

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i&display=swap" rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/magnific-popup.css" />
    <link rel="stylesheet" href="css/slicknav.min.css" />
    <link rel="stylesheet" href="css/owl.carousel.min.css" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/magnific-popup.css" rel="stylesheet" />
    <link href="~/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/css/slicknav.min.css" rel="stylesheet" />
    <!-- Main Stylesheets -->
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <!-- Header section  -->
    <header class="header-section clearfix">
        <div class="header-top">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                    <div class="col-md-6 text-md-right">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="site-navbar">
            <!-- Logo -->
            <a href="index" class="site-logo">
                <img src="~/img/logo.png" alt="" />
            </a>
            <div class="header-right">
                <div class="header-info-box">
                    <div class="hib-icon">
                        <img src="~/img/icons/phone.png" alt="" class="" />
                    </div>
                    <div class="hib-text">
                        <h6>+546 990221 123</h6>
                        <p>contact@industryalinc.com</p>
                    </div>
                </div>
                <div class="header-info-box">
                    <div class="hib-icon">
                        <img src="~/img/icons/map-marker.png" />
                    </div>
                    <div class="hib-text">
                        <h6>Main Str, no 23</h6>
                        <p>NY, New York PK 23589</p>
                    </div>
                </div>
                <button class="search-switch"><i class="fa fa-search"></i></button>
            </div>
            <!-- Menu -->
            <nav class="site-nav-menu">
                <ul>
                    <li class="active"><a href="index">Home</a></li>
                    <li><a href="about.html">About us</a></li>
                    <li>
                        <a href="solutions.html">Solutions</a>
                        <ul class="sub-menu">
                            <li><a href="elements.html">Elements</a></li>
                        </ul>
                    </li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </nav>
        </div>
        <div style="background:#2196f3; height:6px">
        </div>
    </header>
    <!-- Header section end  -->
    @*class="row justify-content-center"  for center content *@
    <div style="background:#ffffff;padding-top:100px;margin-bottom:300px; height:1000px">
        @using (Html.BeginForm("ResultSearch", "Home", FormMethod.Get))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="form-group">
                    <div class="container justify-content-center row">
                        <div class="col-md-auto">
                            <label style="font-family:Al-Jazeera-Arabic;font-size:large" class="col-form-label-sm">Key Search :</label>    @*@Html.Label("lbl_Search_Key", "Key Search :", htmlAttributes: new { @class = "control-label" })*@
                        </div>
                        <div class="col-md-3 ">
                            @Html.Editor("TxT_Search_Key", "This is value", new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="col-md-3 ">
                            @Html.DropDownList("AlgorithmRetrieve", new SelectList(
                     new List<SelectListItem>
                     {
                                    new SelectListItem {Text = "Boolean Model", Value = "boolean"},
                                    new SelectListItem {Text = "Extend Boolean Model", Value = "ex_boolean"},
                                     new SelectListItem {Text = "Vector Space model", Value = "vector_space"},
                     }, "Value", "Text"), new { @class = "form-control", @id = "AlgorithmRetrieve" })
                        </div>
                    </div>
                    <div class="container" style="width:15%">
                        <input style="font-family:Al-Jazeera-Arabic;font-size:large" type="submit" id="Manp" value="بحث" class="btn btn-success form-control " />
                    </div>
                    <hr />
                    <div  style="margin-left:0px;margin-right:0px" class="row container justify-content-center">
                        <div style="max-width: 100%;" class="col-md-6">
                            <label style="margin-bottom:2px;font-family:Al-Jazeera-Arabic;font-size:xx-large ;color:darkblue" class="label-info">Search Result :</label><hr />
                            @if (Model.Count() == 0)
                            {
                                <h4>Records not found</h4>
                            }
                            else
                            {<table class="table table-bordered">
                                    <tr>
                                        <th>File</th>
                                        <th>Rank</th>
                                    </tr>
                                    @foreach (var result in Model)
                                    {
                                        <tr>
                                            <td onclick="contentFile('hamid')">
                                                <span class="dot"></span>
                                                <a href="#">@Server.MapPath("/").Substring(20)Files\@result.File_Name</a><br />
                                                <h5 style="color:darkgray;display: inline;">File Name:</h5>
                                                <h6 style="margin-left:25px;display: inline;"> @Html.DisplayFor(m => result.File_Name)</h6>
                                                <br />
                                                <p id="Paragraph">@result.File_content.Substring(0, 25)</p>
                                                <input type="button" value="Assign" onclick="AssignButtonClicked(this)"
                                                       data-assigned-id="@result.File_content" />
                                            </td>
                                            <td>
                                            </td>
                                        </tr>
                                    }


                                </table>

                            }
                        </div>
                        <div style="margin-left:0px;margin-right:0px" class="row justify-content-center">
                            <div style="max-width: 100%;" class="col-md-6">
                                <label style="margin-bottom:2px;font-family:Al-Jazeera-Arabic;font-size:xx-large ;color:darkblue" class="label-info">File's Content:</label><hr />
                                <textarea style="overflow: auto; white-space:normal;text-align:justify; -moz-text-align-last: center; text-align-last: center ;height:500px" wrap="soft" cols="60" rows="5" id="fileContent"></textarea>
                            </div>
                        </div>
                    </div>
                    <script>
                        function AssignButtonClicked(elem){
                            var contentFile = $(elem).data('assigned-id');
                            document.getElementById("fileContent").textContent=contentFile;
                        }
                    </script>
                </div>
            </div>

        }
    </div>
    <style>
        .dot {
            height: 15px;
            width: 15px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
        }
    </style>
    <!-- Call to action section  -->
    <section class="cta-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 d-flex align-items-center">
                    <h2>We produce or supply Goods, Services, or Sources</h2>
                </div>
                <div class="col-lg-3 text-lg-right">
                    <a href="#" class="site-btn sb-dark">contact us</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Call to action section end  -->
    <!-- Search model -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/circle-progress.min.js"></script>
    <script src="~/js/jquery-3.2.1.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/jquery.slicknav.min.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
</body>

</html>

